/* mobile device */
@media screen and (max-width:576px) {
    .header{
        background-color: white;
        box-shadow: none;
    }
    .navbar{
        flex-direction: column;

    }
    .nav-list{
        flex-direction: column;
        padding-top: 50px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .description{
        padding-bottom: 5px;
    }
    .banner-text{
        background-image: url('images/Group\ 14.png');
        background-size: cover;
        width: 100%;
    }
    .banner-image{
        width: 100%;
    }
    .banner-img{
        width: 95%;
    }
    .banner{ 
        background-image: none;
        background-repeat: no-repeat;
        
    }
    .online-games-container{
        grid-template-columns: repeat(1, 1fr);  
    }
    .play-instant-container{
        flex-direction: column;
    }
    .text-content{
        width: 100%;
        text-align: center;
    }
    .play-instant-img{
        width: 80%;
    }
    .category{
        max-width: calc(100% - 10%);
    }
    .category-title{   
        font-size: 12px;
    }
    .icon{
        width: 30px;
    }
    .category-item{
        width: 110px;
        padding: 5px;
    }
    .links{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: calc(100% - 20%);
        margin: auto;
        gap: 15px;
    }
    .social-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: calc(100% - 40%);
        margin: auto;
        gap: 15px;
    }
    .copyright{
        width: calc(100% - 30%);
        margin: auto;
    }
    
}


/* tablet device */
@media screen and (min-width:576px) and (max-width:992px) {
    .header{
        background-color: white;
        box-shadow: none;
    }
    .navbar{
        flex-direction: column;

    }
    .nav-list{
        flex-direction: column;
        padding-top: 50px;
    }
    .banner-container{
        flex-direction: column;
    }
    .description{
        padding-bottom: 5px;
    }
    .banner-text{
        background-image: url('images/Group\ 14.png');
        background-size: cover;
        width: 100%;
    }
    .banner-image{
        width: 100%;
    }
    .banner-img{
        width: 95%;
    }
    .banner{ 
        background-image: none;
        background-repeat: no-repeat;
        
    }
    .online-games-container{
        grid-template-columns: repeat(2, 1fr);  
    }
    .online-games-container{
        grid-template-columns: repeat(1, 1fr);  
    }
    .play-instant-container{
        flex-direction: column;
    }
    .text-content{
        width: 100%;
        text-align: center;
    }
    .play-instant-img{
        width: 80%;
    }
    .category-title{   
        font-size: 15px;
    }
}