/* mobile device */
@media screen and (max-width:576px) {
    .header{
        background-color: white;
        box-shadow: none;
    }
    .navbar{
        flex-direction: column;

    }
    .nav-list{
        flex-direction: column;
        padding-top: 50px;
    }
    .banner-container{
        flex-direction: column;
    }
    .description{
        padding-bottom: 5px;
    }
    .banner-text{
        background-image: url('images/Group\ 14.png');
        background-size: cover;
        width: 100%;
    }
    .banner-image{
        width: 100%;
    }
    .banner-img{
        width: 95%;
    }
    .banner{ 
        background-image: none;
        background-repeat: no-repeat;
        
    }
}